@import "../../utilities/scss-variables/variables.scss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.f_nav_container {
  padding: 0.1rem 1.2rem;
  user-select: none;
  background-color: $f_nav;
  border: none;
  transition: all 0.3s ease;

  a {
    outline: none;
    text-decoration: none;
  }

  .navbar {
    a {
      text-decoration: none;
    }
  }
  .navbar-brand {
    @extend .center;
    span {
      font-weight: 600;
      color: $f_white;
      text-decoration: none;
      font-size: 22px;
      text-transform: capitalize;
      font-family: 'Montserrat', sans-serif;
    }
  }

  .navbar-nav {
    padding: 0px;
    margin: 0px;
    @extend .center;

    li {
      position: relative;
      cursor: pointer;

      .f_nav_profile {
        position: absolute;
        top: 140%;
        right: 100%;
        transform: translate(50%, 0%);
        width: 180px;
        height: 200px;
        background: rgb(24, 24, 24);
        padding: 15px 10px;
        border-radius: 5px;

        .f_nav_profile_section {
          margin-bottom: 15px;

          &:last-child {
            border-bottom: none;
          }
          h6 {
            font-size: 14px;
            font-weight: 400px;
            color: $f_accent;
            margin: 0;
            @extend .f_text_wrap;
          }
          p {
            margin: 0;
            @extend .f_text_wrap;
          }
        }
      }

      p {
        color: $f_white;
        text-decoration: none;
        margin: 7px 15px;
        cursor: pointer;
        padding: 7px 0px;

        &:hover {
          transition: all 0.5s ease-in-out;
          color: rgb(212, 212, 212);
        }

        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
      i {
        font-size: 1.2rem;
        margin: 7px 20px 7px 15px;
        cursor: pointer;
        padding: 7px 0px;
        color: $f_accent;
        position: relative;
        z-index: 11;
      }
    }
    button {
      padding: 7px 15px;
    }
  }

  .btn_solid {
    background: $f_pri;
    color: $f_white;
    padding: 0.5rem 1.2rem 0.5rem 1.2rem;
    border: none;
    border-radius: 5px;
    font-family: $f_pop;
    font-size: 14px;
    font-weight: 400;
    text-transform: capitalize;
    @extend .center;

    span {
      margin-right: 10px;

      img {
        margin-bottom: 3px;
      }
    }

    &:hover {
      transition: all 0.3s ease;
      transform: scale(0.98);
    }

    &:focus {
      outline: none;
      box-shadow: none;
    }
  }
}

li a:hover:not(.active) {
  background-color: #111;
}