@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  color: #000000;
}

p,
a {
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  text-decoration: none;
}

button:hover {
  box-shadow: none;
  outline: none;
}

.center, .f_nav_container .btn_solid, .f_nav_container .navbar-nav, .f_nav_container .navbar-brand, .f_btn_solid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f_jumbotron {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  max-height: 90vh;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.f_btn_solid {
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border: none;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
}
.f_btn_solid span {
  margin-right: 10px;
}
.f_btn_solid span img {
  margin-bottom: 3px;
}
.f_btn_solid:hover {
  transition: all 0.3s ease;
  transform: scale(0.98);
}
.f_btn_solid:focus {
  outline: none;
  box-shadow: none;
}

.f_text_wrap, .f_nav_container .navbar-nav li .f_nav_profile .f_nav_profile_section p, .f_nav_container .navbar-nav li .f_nav_profile .f_nav_profile_section h6 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.f_nav_container {
  padding: 0.1rem 1.2rem;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #775ada;
  border: none;
  transition: all 0.3s ease;
}
.f_nav_container a {
  outline: none;
  text-decoration: none;
}
.f_nav_container .navbar a {
  text-decoration: none;
}
.f_nav_container .navbar-brand span {
  font-weight: 600;
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
}
.f_nav_container .navbar-nav {
  padding: 0px;
  margin: 0px;
}
.f_nav_container .navbar-nav li {
  position: relative;
  cursor: pointer;
}
.f_nav_container .navbar-nav li .f_nav_profile {
  position: absolute;
  top: 140%;
  right: 100%;
  transform: translate(50%, 0%);
  width: 180px;
  height: 200px;
  background: rgb(24, 24, 24);
  padding: 15px 10px;
  border-radius: 5px;
}
.f_nav_container .navbar-nav li .f_nav_profile .f_nav_profile_section {
  margin-bottom: 15px;
}
.f_nav_container .navbar-nav li .f_nav_profile .f_nav_profile_section:last-child {
  border-bottom: none;
}
.f_nav_container .navbar-nav li .f_nav_profile .f_nav_profile_section h6 {
  font-size: 14px;
  font-weight: 400px;
  color: #8d8d8d;
  margin: 0;
}
.f_nav_container .navbar-nav li .f_nav_profile .f_nav_profile_section p {
  margin: 0;
}
.f_nav_container .navbar-nav li p {
  color: #ffffff;
  text-decoration: none;
  margin: 7px 15px;
  cursor: pointer;
  padding: 7px 0px;
}
.f_nav_container .navbar-nav li p:hover {
  transition: all 0.5s ease-in-out;
  color: rgb(212, 212, 212);
}
.f_nav_container .navbar-nav li p:focus {
  outline: none;
  box-shadow: none;
}
.f_nav_container .navbar-nav li i {
  font-size: 1.2rem;
  margin: 7px 20px 7px 15px;
  cursor: pointer;
  padding: 7px 0px;
  color: #8d8d8d;
  position: relative;
  z-index: 11;
}
.f_nav_container .navbar-nav button {
  padding: 7px 15px;
}
.f_nav_container .btn_solid {
  background: #2663D1;
  color: #ffffff;
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
}
.f_nav_container .btn_solid span {
  margin-right: 10px;
}
.f_nav_container .btn_solid span img {
  margin-bottom: 3px;
}
.f_nav_container .btn_solid:hover {
  transition: all 0.3s ease;
  transform: scale(0.98);
}
.f_nav_container .btn_solid:focus {
  outline: none;
  box-shadow: none;
}

li a:hover:not(.active) {
  background-color: #111;
}/*# sourceMappingURL=Navigation.css.map */