@import "../../utilities/scss-variables/variables.scss";

.profile {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding: 10px 15px;
  box-shadow: 1px 1px 5px 0px rgba(224,224,224,1);

  img {
    width: 70px;
    height: 70px;
    margin: 10px auto 20px auto;
  }

}
