//Google Fonts CDN
@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Poppins:wght@300;400;500;600;700&display=swap");
//Fonts
$f_pop: "Poppins", sans-serif;
$f_meri: "Merriweather", serif;

//Colors
$f_pri: #2663D1;
$f_accent: #8d8d8d;
$f_white: #ffffff;
$f_black: #000000;
$f_black-alt: #242323;
$f_light_grey: #f2f2f2;
$f_danger: #ee3902;
$f_nav: #775ada;

//Default Configuration
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $f_pop;
  font-weight: 500;
  color: $f_black;
}

p,
a {
  font-size: 14px;
  font-family: $f_pop;
  color: $f_black;
  text-decoration: none;
}

button {
  &:hover {
    box-shadow: none;
    outline: none;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.f_jumbotron {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 90vh;
  max-height: 90vh;
  min-height: 500px;
  display: flex;
  align-items: center;
}

.f_btn_solid {
  padding: 0.5rem 1.2rem 0.5rem 1.2rem;
  border: none;
  border-radius: 4px;
  font-family: $f_pop;
  font-size: 16px;
  font-weight: 500;
  text-transform: capitalize;
  @extend .center;

  span {
    margin-right: 10px;

    img {
      margin-bottom: 3px;
    }
  }

  &:hover {
    transition: all 0.3s ease;
    transform: scale(0.98);
  }

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

.f_text_wrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}